@page
@using SharedCode.DatabaseSchemas;
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}


<p>Please select from the above navigation.</p>


<script>
	require(["/js/Index.js", "luxon"], (website, luxon) => {
		website.Index.Start();
	})
</script>