/backend/.vs
/backend/API/obj
/backend/API/.vs
/backend/API/bin
/backend/API.Tests/obj
/backend/API.Tests/bin
/backend/ARI-DispatchPulse/obj
/backend/ARI-DispatchPulse/bin
/backend/ARI-OnCall/obj
/backend/ARI-OnCall/bin
/backend/Asterisk.NET/obj
/backend/Asterisk.NET/bin
/backend/Asterisk.NET.Test/Asterisk.NET.Test/obj
/backend/Asterisk.NET.Test/Asterisk.NET.Test/bin
/backend/AWSPollyTest/obj
/backend/AWSPollyTest/bin
/backend/CalendarTest/obj
/backend/CalendarTest/bin
/backend/ClientAccess-DispatchPulse/obj
/backend/ClientAccess-DispatchPulse/bin
/backend/ClosedXMLTest/obj
/backend/ClosedXMLTest/bin
/backend/CompanyBilling/obj
/backend/CompanyBilling/bin
/backend/DatabaseBootstrap/bin
/backend/DatabaseBootstrap/obj
/backend/DateTimeDiffTest/bin
/backend/DateTimeDiffTest/obj
/backend/EPPlusTest/bin
/backend/EPPlusTest/obj
/backend/EPPlusTest/.vs
/backend/Ical.Net.Core/obj
/backend/Ical.Net.Core/bin
/backend/Ical.Net.CoreUnitTests/obj
/backend/Ical.Net.CoreUnitTests/bin
/backend/Ical.Net.FrameworkUnitTests/obj
/backend/Ical.Net.FrameworkUnitTests/bin
/backend/JobRunnerAssignmentsReport/obj
/backend/JobRunnerAssignmentsReport/bin
/backend/JobRunnerCompaniesReport/obj
/backend/JobRunnerCompaniesReport/bin
/backend/JobRunnerContactsReport/obj
/backend/JobRunnerContactsReport/bin
/backend/JobRunnerDatabaseVerification/obj
/backend/JobRunnerDatabaseVerification/bin
/backend/JobRunnerEnsureCompanyS3Buckets/obj
/backend/JobRunnerEnsureCompanyS3Buckets/bin
/backend/JobRunnerLabourReport/obj
/backend/JobRunnerLabourReport/bin
/backend/JobRunnerMaterialsReport/bin
/backend/JobRunnerMaterialsReport/obj
/backend/JobRunnerOnCallResponder30Days/obj
/backend/JobRunnerOnCallResponder30Days/bin
/backend/JobRunnerPDFLaTeX/obj
/backend/JobRunnerPDFLaTeX/bin
/backend/JobRunnerProjectsReport/obj
/backend/JobRunnerProjectsReport/bin
/backend/JobRunnerRecurringTaskScheduler/obj
/backend/JobRunnerRecurringTaskScheduler/bin
/backend/JobRunnerRemoveExpiredJobs/obj
/backend/JobRunnerRemoveExpiredJobs/bin
/backend/JobRunnerUpdateWebCalFiles/obj
/backend/JobRunnerUpdateWebCalFiles/bin
/backend/JTokenQueryTest/obj
/backend/JTokenQueryTest/bin
/backend/LaTeXGenerators/obj
/backend/LaTeXGenerators/bin
/backend/LaTeXGeneratorTest/obj
/backend/LaTeXGeneratorTest/bin
/backend/LinodeAPITest/obj
/backend/LinodeAPITest/bin
/backend/NukeCompany/obj
/backend/NukeCompany/bin
/backend/OnCallResponderMessageAccess/obj
/backend/OnCallResponderMessageAccess/bin
/backend/SharedCode.ARI/obj
/backend/SharedCode.ARI/bin
/backend/SharedCode.Cal/obj
/backend/SharedCode.Cal/bin
/backend/SharedCode.CORS/obj
/backend/SharedCode.CORS/bin
/backend/SharedCode.Culture/obj
/backend/SharedCode.Culture/bin
/backend/SharedCode.Databases/obj
/backend/SharedCode.Databases/bin
/backend/SharedCode.EMail/obj
/backend/SharedCode.EMail/bin
/backend/SharedCode.Extensions/obj
/backend/SharedCode.Extensions/bin
/backend/SharedCode.Hashes/obj
/backend/SharedCode.Hashes/bin
/backend/SharedCode.Hubs/obj
/backend/SharedCode.Hubs/bin
/backend/SharedCode.ISO8601/obj
/backend/SharedCode.ISO8601/bin
/backend/SharedCode.Konstants/obj
/backend/SharedCode.Konstants/bin
/backend/SharedCode.Linode/obj
/backend/SharedCode.Linode/bin
/backend/SharedCode.Logging/bin
/backend/SharedCode.Logging/obj
/backend/SharedCode.OnCallResponder/bin
/backend/SharedCode.OnCallResponder/obj
/backend/SharedCode.Regex/obj
/backend/SharedCode.Regex/bin
/backend/SharedCode.S3/obj
/backend/SharedCode.S3/bin
/backend/SharedCode.SQLUtility/obj
/backend/SharedCode.SQLUtility/bin
/backend/SharedCode.Square/obj
/backend/SharedCode.Square/bin
/backend/SharedCode.TTS/obj
/backend/SharedCode.TTS/bin
/backend/SharedCode.Twilio/obj
/backend/SharedCode.Twilio/bin
/backend/SquarePayments/obj
/backend/SquarePayments/bin
/backend/SquareTest/obj
/backend/SquareTest/bin
/backend/SSHTest/obj
/backend/SSHTest/bin
/backend/StringMapReplaceTest/obj
/backend/StringMapReplaceTest/bin
/backend/TempTest/obj
/backend/TempTest/bin
/backend/TestJSONnetRecords/obj
/backend/TestJSONnetRecords/bin
/backend/TwilioDisasterRecovery/bin
/backend/TwilioDisasterRecovery/obj
/backend/VerifyDatabase/obj
/backend/VerifyDatabase/bin
/backend/OnCallResponderMessageAccess/node_modules
/backend/CompanyBilling/node_modules
/backend/SquarePayments/node_modules
/frontend/node_modules
/backend/ARI-ProjectsSchedulingTime/obj
/backend/ARI-ProjectsSchedulingTime/bin
