/C#/.vs
/C#/API/obj
/C#/API/.vs
/C#/API/bin
/C#/API.Tests/obj
/C#/API.Tests/bin
/C#/ARI-DispatchPulse/obj
/C#/ARI-DispatchPulse/bin
/C#/ARI-OnCall/obj
/C#/ARI-OnCall/bin
/C#/Asterisk.NET/obj
/C#/Asterisk.NET/bin
/C#/Asterisk.NET.Test/Asterisk.NET.Test/obj
/C#/Asterisk.NET.Test/Asterisk.NET.Test/bin
/C#/AWSPollyTest/obj
/C#/AWSPollyTest/bin
/C#/CalendarTest/obj
/C#/CalendarTest/bin
/C#/ClientAccess-DispatchPulse/obj
/C#/ClientAccess-DispatchPulse/bin
/C#/ClosedXMLTest/obj
/C#/ClosedXMLTest/bin
/C#/CompanyBilling/obj
/C#/CompanyBilling/bin
/C#/DatabaseBootstrap/bin
/C#/DatabaseBootstrap/obj
/C#/DateTimeDiffTest/bin
/C#/DateTimeDiffTest/obj
/C#/EPPlusTest/bin
/C#/EPPlusTest/obj
/C#/EPPlusTest/.vs
/C#/Ical.Net.Core/obj
/C#/Ical.Net.Core/bin
/C#/Ical.Net.CoreUnitTests/obj
/C#/Ical.Net.CoreUnitTests/bin
/C#/Ical.Net.FrameworkUnitTests/obj
/C#/Ical.Net.FrameworkUnitTests/bin
/C#/JobRunnerAssignmentsReport/obj
/C#/JobRunnerAssignmentsReport/bin
/C#/JobRunnerCompaniesReport/obj
/C#/JobRunnerCompaniesReport/bin
/C#/JobRunnerContactsReport/obj
/C#/JobRunnerContactsReport/bin
/C#/JobRunnerDatabaseVerification/obj
/C#/JobRunnerDatabaseVerification/bin
/C#/JobRunnerEnsureCompanyS3Buckets/obj
/C#/JobRunnerEnsureCompanyS3Buckets/bin
/C#/JobRunnerLabourReport/obj
/C#/JobRunnerLabourReport/bin
/C#/JobRunnerMaterialsReport/bin
/C#/JobRunnerMaterialsReport/obj
/C#/JobRunnerOnCallResponder30Days/obj
/C#/JobRunnerOnCallResponder30Days/bin
/C#/JobRunnerPDFLaTeX/obj
/C#/JobRunnerPDFLaTeX/bin
/C#/JobRunnerProjectsReport/obj
/C#/JobRunnerProjectsReport/bin
/C#/JobRunnerRecurringTaskScheduler/obj
/C#/JobRunnerRecurringTaskScheduler/bin
/C#/JobRunnerRemoveExpiredJobs/obj
/C#/JobRunnerRemoveExpiredJobs/bin
/C#/JobRunnerUpdateWebCalFiles/obj
/C#/JobRunnerUpdateWebCalFiles/bin
/C#/JTokenQueryTest/obj
/C#/JTokenQueryTest/bin
/C#/LaTeXGenerators/obj
/C#/LaTeXGenerators/bin
/C#/LaTeXGeneratorTest/obj
/C#/LaTeXGeneratorTest/bin
/C#/LinodeAPITest/obj
/C#/LinodeAPITest/bin
/C#/NukeCompany/obj
/C#/NukeCompany/bin
/C#/OnCallResponderMessageAccess/obj
/C#/OnCallResponderMessageAccess/bin
/C#/SharedCode.ARI/obj
/C#/SharedCode.ARI/bin
/C#/SharedCode.Cal/obj
/C#/SharedCode.Cal/bin
/C#/SharedCode.CORS/obj
/C#/SharedCode.CORS/bin
/C#/SharedCode.Culture/obj
/C#/SharedCode.Culture/bin
/C#/SharedCode.Databases/obj
/C#/SharedCode.Databases/bin
/C#/SharedCode.EMail/obj
/C#/SharedCode.EMail/bin
/C#/SharedCode.Extensions/obj
/C#/SharedCode.Extensions/bin
/C#/SharedCode.Hashes/obj
/C#/SharedCode.Hashes/bin
/C#/SharedCode.Hubs/obj
/C#/SharedCode.Hubs/bin
/C#/SharedCode.ISO8601/obj
/C#/SharedCode.ISO8601/bin
/C#/SharedCode.Konstants/obj
/C#/SharedCode.Konstants/bin
/C#/SharedCode.Linode/obj
/C#/SharedCode.Linode/bin
/C#/SharedCode.Logging/bin
/C#/SharedCode.Logging/obj
/C#/SharedCode.OnCallResponder/bin
/C#/SharedCode.OnCallResponder/obj
/C#/SharedCode.Regex/obj
/C#/SharedCode.Regex/bin
/C#/SharedCode.S3/obj
/C#/SharedCode.S3/bin
/C#/SharedCode.SQLUtility/obj
/C#/SharedCode.SQLUtility/bin
/C#/SharedCode.Square/obj
/C#/SharedCode.Square/bin
/C#/SharedCode.TTS/obj
/C#/SharedCode.TTS/bin
/C#/SharedCode.Twilio/obj
/C#/SharedCode.Twilio/bin
/C#/SquarePayments/obj
/C#/SquarePayments/bin
/C#/SquareTest/obj
/C#/SquareTest/bin
/C#/SSHTest/obj
/C#/SSHTest/bin
/C#/StringMapReplaceTest/obj
/C#/StringMapReplaceTest/bin
/C#/TempTest/obj
/C#/TempTest/bin
/C#/TestJSONnetRecords/obj
/C#/TestJSONnetRecords/bin
/C#/TwilioDisasterRecovery/bin
/C#/TwilioDisasterRecovery/obj
/C#/VerifyDatabase/obj
/C#/VerifyDatabase/bin
