@page "/contacts/{Id}/edit/password"
@model CompanyBilling.Pages.Contacts.Edit.PasswordModel
@{
	if (null == Model.Contact)
		throw new Exception("null == Model.Contact");
}
<div>
	<a href="/">Home</a> &#187; <a href="/contacts">Contacts</a> &#187; <a href="/Contacts/@Model.Contact.Uuid">@Model.Contact.FullName</a>
</div>

<h1>Change @(Model.Contact.FullName)'s password.</h1>
@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
	<p style="color: red;">@Model.ErrorMessage</p>
}
<form method="post">
	<dl>
		<dt>New Value</dt>
		<dd class="expandinput"><input type="password" asp-for="Value" /></dd>
		<dt></dt>
		<dd class="expandinput"><input type="submit" value="Save" /></dd>
	</dl>
</form>
