@page
@model OneTimePaymentModel
@{
	ViewData["Title"] = "One Time Credit Card Payment";
}
@if (false == Model.CanAccessOneTimePayments)
{
	<div>You don't have access to one time payments.</div>
}
else
{
	@if (string.IsNullOrWhiteSpace(Model.Nonce))
	{


		<div style="margin-bottom: 20px;">Credit card payments provided by <a href="https://squareup.com/i/SAULANDPAR" target="_blank"><img src="~/img/Square,_Inc._logo.svg" style="height: 20px; vertical-align: bottom;" /></a>.</div>
		<div class="errorMessage cc-deposit-amount" style="display: none;">Deposit Amount is not valid.</div>
		<div class="errorMessage cc-n" style="display: none;">Card Number is not valid.</div>
		<div class="errorMessage cc-exp" style="display: none;">Expiration date is not valid.</div>
		<div class="errorMessage cc-cvv" style="display: none;">CVV is not valid.</div>
		<div class="errorMessage cc-postal" style="display: none;">Postal Code is not valid.</div>
		@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
		{
			<div class="errorMessage" style="display: none;">@Model.ErrorMessage</div>
		}



		<form method="post" action="" id="NonceForm">
			<input type="hidden" value="" name="Nonce" />
			<div class="amount-input">
				<input type="text" asp-for="FormDepositAmount" placeholder="Deposit Amount" />
			</div>
		</form>
		<div>
			<div id="sq-card-number"></div>
			<div class="third" id="sq-expiration-date"></div>
			<div class="third" id="sq-cvv"></div>
			<div class="third" id="sq-postal-code"></div>

			<table style="width: 100%; display: none;" id="summaryTable">
				<tr>
					<td style="text-align: right;">Subtotal:</td>
					<td id="cellSubtotal" style="width: 1px; text-align: right;"></td>
				</tr>
				<tr>
					<td style="text-align: right;">Square Fees (2.9% + 30 cents):</td>
					<td id="cellFees" style="width: 1px; text-align: right;"></td>
				</tr>
				<tr>
					<td style="text-align: right;">Total:</td>
					<td id="cellTotal" style="width: 1px; text-align: right;"></td>
				</tr>
			</table>


			<button id="sq-creditcard" class="button-credit-card">Pay</button>
		</div>


	}
	else
	{
		@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
		{
			<div style="margin: 20px; border: 1px solid black;">
				<div style="padding: 10px;border-bottom: 1px solid black;">There was an error processing the payment:</div>
				<div style="padding: 10px;">@Model.ErrorMessage</div>
			</div>
			<div style="text-align: center;"><a href="">Click here to try again.</a></div>
		}
		else
		{
			<div style="text-align: center;"><img src="~/img/checkmark.svg" style="width: 100px; height: 100px;" /></div>
			<div style="text-align: center; font-weight: bold; margin:10px;">Payment Successful</div>
			<div style="text-align: center;"><a href="">Click here to make another payment.</a></div>
		}
	}
}

<script>
	require(["/js/PageOneTimePayment.js", "luxon"], (website, luxon) => {
		website.PageOneTimePayment.Start();
	})
</script>